:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #9f5ec4;
    --secundario: #6682d6;
    --gris: #c5bfbf;
    --grisClaro: #DFE9F3;
}
/* Global */
html {
    font-size: 62.5%;
    box-sizing: border-box; 
}
body {
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 100%, var(--blanco) 100% );
}
/* Tipografía y color */
h1 {
    font-size: 3.8rem;
    color: var(--oscuro);
    text-align: center;
}
h3 {
    font-size: 3rem;
    color: var(--oscuro);
    text-align: center;
}
/* Barra de Navegación */
.navegación ul {
    list-style-type: none;
    text-align: center;
}
.navegación li {
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}
.navegación li a {
    color: var(--blanco);
    background-color: var(--secundario);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}
.navegación li a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}
/* Botones */
.boton {
    background-color: var(--primario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 1.7rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 20%;
    text-align: center;
    border: none;
}
.boton:after, .boton-factura:after {
    content: " >>>";
 }
 .boton-factura{
    background-color: var(--primario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 1.7rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 20%;
    text-align: center;
    border: none;
    display: block;
    align-items: center;
    justify-content: center;
}
.boton-registro {
    background-color: var(--primario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 1.7rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 50%;
    text-align: center;
    border: none;
}
 /* Formularios */
form {
    background-color: var(--gris);
    border-radius: .5rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    color: var(--blanco);
}
input, select {
    font-family: inherit;
    font-size: 100%;
    width : 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
fieldset {
    position: relative;
}
.row {
    display: flex;
    text-align: left;
    justify-content: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 20rem ;
    column-gap: 1rem;
    box-sizing: border-box;
}
/*Tablas*/
table {
    table-layout: fixed;
    padding: 1rem 3rem;
    margin-top: 3rem;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
}
  
thead th:nth-child(1) {
    width: 30%;
}
  
thead th:nth-child(2) {
    width: 20%;
}
  
thead th:nth-child(3) {
    width: 15%;
}
  
thead th:nth-child(4) {
    width: 35%;
}
  
th, td {
    padding: 20px;
}
legend {
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--oscuro);
}
